*.pyc
__pycache__/
dist/
.DS_Store
*.egg-info
build
run-info.txt
plays
*.so
8env_append-still/
8env_append-still-easy/
16env_append-still-easy/
32env_append-still-easy/
buffers/
build/
gcloud/
AUP/
images/
models/
training_runs/
trialthrowaway/

results-10k/
results-nrfn/
results/
results_cache/
results_ppo/
results_short/
csv_output/
level_sets/


start-training-original
start-training_original
start-training
random_reward_0.png

results/
results-10k/
results-append-revert/
results-aup-envs/
results-aup-hp/
results-aux_reward/
results_cache/
results-continue/
results-nrfn/
results-ppo-envs/
results_short/
mp4_results/
n_levels/
output_csv/
output_csv_reward/
output_files/
output_files_reward/
output_files_reward.zip
output_files.zip
models/

test_results/
run-tb
