*.pyc
__pycache__/
dist/
.DS_Store
*.egg-info
build
run-info.txt
plays
*.so
8env_append-still/
8env_append-still-easy/
16env_append-still-easy/
32env_append-still-easy/
buffers/
build/
gcloud/
AUP/
images/
models/
training_runs/
trialthrowaway/

results-10k/
results-nrfn/
results/
results_cache/
results_ppo/
aesults_short/
csv_output/
level_sets/

